@model SalesWebMVC.Models.Department

@{
    ViewData["Title"] = "Details";
}
<br />
<h1>Details</h1>
<br />
<h4>Department</h4>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
            <td align="right">
                <a class="btn btn-outline-light" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
            </td>
        </tr>
    </tbody>
</table>


