@{
    ViewData["Title"] = "Tela de privacidade";
    ViewData["Menssage"] = "Teste de mensagem para a tela de privacidade";
}
<h1>@ViewData["Title"]</h1>
<h6>@ViewData["Menssage"]</h6>

<p>teste.</p>
